@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rubik:wght@300&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
body {
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", serif;
  color: white;
}
